body {
    background-image: url(../image/bg2.png);
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;

    background: rgba(42, 38, 61, 0.82);

}

h1{
    position: absolute;
    left: 518px;
    right: 519px;
    top: 55px;
    bottom: 578px;

    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 84px;
    text-align: center;

    color: #FCB371;
}

.b1{
    position: absolute;
    width: 375px;
    height: 35px;
    left: calc(50% - 383px/2 + 0.5px);
    top: calc(53% - 53px/2 + 209.5px);

    background: #FCB371;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

a {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 21px;
    padding: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    margin: 16px 0px;
}

.b2{
    position: absolute;
    left: 80px;
    top: 56px;
}

.f1{
    padding: 15px;
    position: absolute;
    width: 370px;
    height: 15px;
    left: calc(50% - 382px/2);
    top: calc(50% - 46px/2 - 128px);

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.f2 {
    padding: 15px;
    position: absolute;
    width: 370px;
    height: 15px;
    left: calc(50% - 382px/2 + 0.5px);
    top: calc(50% - 46px/2 - 66px);

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.f3 {
    padding: 15px;
    position: absolute;
    width: 165px;
    height: 15px;
    left: calc(50% - 177px/2 - 102px);
    top: calc(50% - 46px/2 - 4px);

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.f4 {
    padding: 15px;
    position: absolute;
    width: 198px;
    height: 48px;
    left: calc(51% - 189px/2 + 97px);
    top: calc(50% - 46px/2 - 4px);

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.f5 {
    padding: 15px;
    position: absolute;
    width: 370px;
    height: 110px;
    left: calc(50% - 382px/2 + 0.5px);
    top: calc(50% - 116px/2 + 93px);

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

input {
    position: static;
    width: 350px;
    height: 14px;
    left: 16px;
    top: 16px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #A9A9A9;

    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

select {
    position: static;
    width: 350px;
    height: 14px;
    left: 16px;
    top: 16px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #A9A9A9;

    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}