body {
    background-image: url(../image/ImageBackground.png);
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;
    background: rgba(42, 38, 61, 0.82);
}

h1 {
    position: absolute;
    left: 476px;
    right: 476px;
    top: 223px;
    bottom: 329px;

    font-family: pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 84px;
    text-align: center;

    color: #ffffff;
}

span {
    color: #FCB371;
}

p {
    position: absolute;
    width: 117px;
    height: 16px;
    left: 582px;
    top: 412px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
}

img {
    position: absolute;
    width: 165px;
    height: 165px;
    left: 564px;
    top: 44px;
}

.b1 {
    position: absolute;
    width: 156px;
    height: 46px;
    left: 477px;
    top: 481px;
    border: 2px solid #FCB371;
    box-sizing: border-box;
    border-radius: 6px;
}

a {
    width: 50px;
    height: 21px;
    left: 530px;
    top: 493px;
    padding: 10px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FCB371;
}

.b2 {
    position: absolute;
    width: 66px;
    height: 21px;
    left: 694px;
    top: 493px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    padding: 10px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    width: 156px;
    height: 26px;
    left: 646px;
    top: 481px;

    background: #FCB371;
    border-radius: 6px;
}

